body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://img.freepik.com/premium-photo/abstract-background-molecules-technology-with-polygonal-shapes_7247-1675.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    background-repeat: no-repeat; /* Prevent image repetition */
    overflow: hidden; /* Ensure the background image does not overflow */
}


h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: #ffffff63;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #83f187;
}

.message {
    text-align: center;
    margin-top: 10px;
    color: white;
}

.message a {
    color: #f72f2c;
    text-decoration: none;
    font-weight: bold;
}

.message a:hover {
    text-decoration: underline;
}