<script>
    var a=10
      var b=20
      var c=30
      var d=a+b-c
       
      if(d>=0)
      {
          console.log("The answer is greater or zero")
      }
else 
{


      console.log("The output of above equation is"+d)
}
for(var a=0;a<=20;a++)
 {

if(a%2==0)
{
  console.log(a)
}
}

var h= ["student",12,2,5]

var arraylength=h.length

  console.log("the last array length  is"+ arraylength)
  lastelem=arraylength-1
  console.log("Te last element of array is "+h[lastelem])
 
  </script>